<img class="center" style="display: block; margin-left: auto; margin-right: auto" src="/images/sfcess-color.png" alt="SFCESS LOGO" height=75px width=300px/>

<h1 style="font-size: 18pt">Mission and Values</h1>

<p> The Mission of SF-CESS is to interrupt and transform current and systemic 
educational inequities to ensure all students have access to personalized, 
equitable and high performing schools that believe and demonstrate each 
student can, should and will succeed.</p>

<p> We achieve our mission by providing coaching, technical assistance and 
professional development to a network of school communities that share core 
values in high-leverage areas of:</p>
<ul>
    <li> Powerful and Effective Teaching and Learning </li>
    <li> Explicit, Shared and Leveraged Instructional Leadership </li>
    <li> Thoughtful School Design and Professional Development </li>
    <li> Caring Community Connections for additional Student Support </li>
</ul>

<p> It is our Vision that schools will function as sustainable learning 
communities in which every child is known well and whose practices, based in 
inquiry, are explicitly focused on equity and achievement. </p>

<ul>
    <li> A “learning community” requires ALL members of that community to be dedicated to lifelong learning.   </li>
    <li> Ensuring “every child is known well” requires our schools to focus on personalization.  </li>
    <li> “Inquiry focused on equity and achievement” demands our schools to be driven 
    by results defined from the data of our students, their achievement and experiences, 
    and our schools’ success to serve them. </li>
</ul>

<p> A clear vision also helps us to see HOW to reach our mission as it identifies 
our core values from basic design to daily decisions...</p>

<p> SF-CESS will share best practices for creating the conditions necessary for 
schools to be equitable and high performing. SF-CESS intends to make a significant 
contribution to achievement and the lives of children in the San Francisco-Bay Area, 
as well as throughout the nation.</p>


<%= link_to 'Look at job postings', jobs_path, class: 'btn btn-primary btn-xs' %>
