<h2> San Francisco Coalition of Essential Small Schools </h2>

<h1>Guidelines</h1>

<ol>
    <li> Guideline 1 </li>
    <li> Guideline 2 </li>
    <li> Guideline 3 </li>
</ol>


<%= link_to 'Look at job postings', jobs_path %>
